/* Start Variabels */
:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
    --main-transition: 0.3s;
}

/* End Variabels */
/* Start Box */


.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.jc-between {
    justify-content: space-between;
}

.d-grid {
    display: grid;
}

.gap-20 {
    gap: 20px;
}



@media (max-width: 767px) {
    .hide-mobile {
        display: none;
    }

    .block-mobile {
        display: block;
    }
}

/* End Box */
/* Start Padding + Margin */
.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.pt-15 {
    padding-top: 15px;
}

.pb-15 {
    padding-bottom: 15px;
}

.m-0 {
    margin: 0;
}

.m-15 {
    margin: 15px;
}

.m-20 {
    margin: 20px;
}



.mt-0 {
    margin-top: 0;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

/* End Padding + Margin */
/* Satrt Color */
.bg-white {
    background-color: white;
}

.bg-eee {
    background-color: #eee;
}

.bg-blue {
    background-color: var(--blue-color);
}

.bg-orange {
    background-color: var(--orange-color);
}

.bg-green {
    background-color: var(--green-color);
}

.bg-red {
    background-color: var(--red-color);
}

.c-black {
    color: black;
}

.c-grey {
    color: var(--grey-color);
}

.c-white {
    color: white;
}

.c-blue {
    color: var(--blue-color);
}

.c-orange {
    color: var(--orange-color);
}

.c-green {
    color: var(--green-color);
}

.c-red {
    color: var(--red-color);
}

/* End Color  */
/* Start Position */
.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

/* End Position */
/* Start Font  */
.txt-c {
    text-align: center;
}

.fs-14 {
    font-size: 14px;
}

.fs-25 {
    font-size: 25px;
}

.fw-bold {
    font-weight: bold;
}

@media (max-width: 767px) {


    .txt-c-mobile {
        text-align: center;
    }
}

/* End Font */
/* Start Border */
.rad-6 {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.rad-10 {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.rad-50 {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.b-none {
    border: none;

}

.border-ccc {
    border: 1px solid #ccc;
}

/* End Border */

/* Start Width+Heite */
.w-full {
    width: 100%;
}

.w-fit {
    width: fit-content;
}

.h-fit {
    height: fit-content;
}

.h-full {
    height: 100%;
}

/* End Width+Heite */
/* Start Components  */
.between-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.hover-bg-blue {
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.hover-bg-blue:hover {
    background-color: var(--blue-alt-color);
}

/* End Components  */